@media (min-width: 1920px) and (max-width: 2560px) {
    html {
        font-size: 100%;
    }

    h3 {
        line-height: 4.5rem;
    }

    h6 {
        font-size: 2.8rem;
    }



    .about .mainContainer .bigText {
        max-width: 75rem;
    }

    .about .innerContainer img {
        height: 5rem;
    }

    p {
        font-size: 2.5rem;
    }

    .carousel-cell {
        height: 55rem;
    }

    .flickity-enabled.is-draggable .flickity-viewport {
        height: 55rem !important;
    }

    .features .content p {
        max-width: 70rem;
    }

    .review .row .rate img {
        width: 1.8rem;
    }

    .review .customercard .name strong {
        font-size: 2.5rem;
    }

    .review .row .card span {
        font-size: 2rem;
    }

    .review .row .customercard .customimg img {
        height: 5rem;
        width: 5rem;
    }

    .header .navbar {
        padding: 20px 45px;
    }

    .header .navbar-brand .logo {
        height: 150px;
    }

    .header .nav-item .nav-link {
        font-size: 40px;
    }

    .header .nav-item .nav-link {
        padding-right: 2.5rem;
    }

    .main-btn {
        padding: 25px 55px;
        font-size: 25px;
    }

    .pricing .pricingContainer .card .save p {
        font-size: 1.5rem;
    }

    .pricing .pricingContainer .card .plans .check {
        height: 3rem;
    }

    .pricing .scannerContainer .row .first img {
        height: 30rem;
    }
    .hardware .row .card .item p {
        padding-top: 3rem;
        max-width: 40rem;
    }
    .hardware .row .card .logos .line img {
    width: 10rem;
    }
    .hardware .row .card .lotteryTv img {
        width: 40rem;
    }



}

@media (min-width: 993px) and (max-width:1200px) {

    html {
        font-size: 50%;
    }

    .about .mainContainer .text {
        padding-top: 10rem;
    }

    .pricing .pricingContainer .card .cardButton .button {
        padding: 1.5rem 4.8rem;
    }
}


@media (max-width: 992px) {

    html {
        font-size: 55%;
    }

    .navbar-toggler-icon {
        width: 3.5em;
        height: 3.5em;
    }

    .header .navbar-collapse {
        text-align: center;
    }

    .header .navbar {
        padding: 20px 45px;
    }

    .header .nav-item .nav-link {
        padding-bottom: 2rem;
    }

    .review .row .customercard .customimg img {
        height: 5rem;
        width: 5rem;
    }

    .pricing .pricingContainer .card .cardButton .button {
        padding: 1rem 2rem;
        font-size: 1.3rem;
    }

    .pricing .pricingContainer .card .deal .price {
        font-size: 3rem;
    }

    .pricing .pricingContainer .card .populer p {

        padding: 0.5rem 2rem;
    }

    .pricing .pricingContainer .card strong {
        font-size: 3rem;
    }

    .pricing .pricingContainer .card .save p {
        padding: 0.5rem 0.5rem;
        font-size: 1.5rem;
    }

    .hardware .row .card .logos .line img {
        max-width: 7rem;
    }

    .hardware .row .card .lotteryTv img {
        max-width: 25rem;
    }

    .hardware .row .card .card_body {
        padding: 2rem;
    }

    .hardware .row .card .item p {
        padding-top: 2rem;
        max-width: 37rem;
    }

    .hardware .row .card .lotteryTv {
        text-align: center;
    }

    .hardware .row .card .scannerimg img {
        max-width: 30rem;
        padding-top: 3rem;
    }

    

}



@media (max-width:768px) {

    html {
        font-size: 55%;
    }


    p {
        text-align: center;
        line-height: 2.9rem;
        font-size: 1.8rem;
    }

    h1 {
        text-align: center;
        padding-bottom: 2rem;
        font-size: 4rem;
    }

    h4 {
        font-size: 1.7rem;
    }

    h6 {
        font-size: 1.9rem;
    }

    .navbar-toggler-icon {
        width: 3.5em;
        height: 3.5em;
    }



    .header .nav-item .nav-link {
        padding-bottom: 2rem;
    }

    .carousel-cell {
        height: 350px;
    }

    .flickity-enabled.is-draggable .flickity-viewport {
        height: 350px !important;
    }

    .features .box .card .icon {
        height: 7rem;
    }

    .features .content {
        flex-direction: column;
    }

    .features .box .card {
        margin: auto;
        margin-bottom: 3rem;
        text-align: center;
    }



    .review .customercard .name strong {
        font-size: 1.4rem;
    }

    .review .row .card span {
        font-size: 1.3rem;
    }

    .review .row .card {
        padding: 1.5rem;
    }

    .pricing .pricingContainer .card .pera {
        text-align: start;
    }

    .pricing .pricingContainer .card .cardButton .button {
        padding: 1rem 1.9rem;
        font-size: 1.3rem;
    }

    .pricing .pricingContainer .card strong {
        font-size: 2.5rem;
    }

    .pricing .pricingContainer .card .deal .price {
        font-size: 2.5rem;

    }

    .pricing .pricingContainer .card .plans span {
        font-size: 1.5rem;
    }

    .pricing .pricingContainer .card .populer p {
        font-size: 1rem;
        padding: 0rem 1.5rem;
    }

    .pricing .pricingContainer .card .save p {
        padding: 0.5rem 0.5rem;
        font-size: 1.5rem;
        margin-top: 2rem;
    }

    .pricing .pricingContainer .card .pera {
        font-size: 1.5rem;
    }

    .pricing .pricingContainer .deal .period {
        font-size: 1.5rem;
    }

    .pricing .pricingContainer .card .cardBody {
        justify-content: center;
        align-items: center;
    }

    .pricing .scannerContainer .row .scanInfo .head {
        font-size: 3rem;
    }

    .pricing .scannerContainer .row .scanInfo {
        text-align: center;
        padding-bottom: 5rem;
    }

    .pricing .scannerContainer .row .scanInfo .head {
        padding-top: 4rem;
    }



    .pricing .scannerContainer .row .scanPrice {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .pricing .scannerContainer .row .first {
        border-radius: 3rem 3rem 0 0;
    }

    .pricing .paddingContainer .scannerContainer .row .scanPrice {
        border-radius: 0 0 3rem 3rem;
    }

    .hardware .row .card .logos {
        padding-top: 3rem;
    }

    .hardware .row .card {
        height: auto;
        margin-bottom: 5rem;
    }

    .hardware .row .card .scannerimg img {
        height: 29rem;
    }
    
    .hardware .row .card .card_body {
        text-align: center;

    }

    .hardware .row .card .card_body .item {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

    }


}

@media (max-width:576px) {
    html {
        font-size: 40%;
    }



    .navbar-toggler-icon {
        width: 3.5em;
        height: 3.5em;
    }

    section {
        padding-bottom: 20px;
    }

    .header .navbar .logo {
        height: 50px;
    }

    p {
        font-size: 1.7rem;
        padding-top: 2rem;
        line-height: 3rem;
    }

    h1 {
        font-size: 4rem;
    }

    h3 {
        line-height: 30px;
    }




    .review .customercard .name strong {
        font-size: 2.4rem;
    }

    .review .row .card span {
        font-size: 2rem;
    }

    .review .row .card {
        padding: 2.5rem;
    }

    .carousel-cell {
        height: 300px;
    }

    .flickity-enabled.is-draggable .flickity-viewport {
        height: 300px !important;
    }

    .flickity-prev-next-button {
        height: 3rem !important;
        width: 3rem !important;
    }

    .about .innerContainer img {
        height: 4.5rem;
    }



    .pricing .pricingContainer .card .cardButton .button {
        padding: 1.5rem 3.8rem;
    }

    .pricing .pricingContainer .card .populer p {

        font-size: 1.3rem;

        padding: 0.5rem 1.9rem;

    }

    .pricing .pricingContainer .deal .period {
        margin-left: 0.7rem;
        font-size: 2.3rem;
    }

    .pricing .pricingContainer .card .pera {
        font-size: 2.3rem;
    }

    .pricing .pricingContainer .card .plans span {
        font-size: 2.3rem;
    }

    .pricing .pricingContainer .card strong {
        font-size: 3.5rem;
    }

    .pricing .pricingContainer .card .deal .price {
        font-size: 3.5rem;
    }

    .pricing .pricingContainer .card .cardBody {
        justify-content: center;
        align-items: center;
    }

    .pricing .scannerContainer .row .first img {
        height: 20rem;
    }


}